/* Style for the parent container */
.container {
  display: flex;
  justify-content: space-between; /* To create space between the columns */
}

.tooltip {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 999;
}

/* Style for the radial bar chart container */
.radial-bar-chart-container {
  margin-top: -2em;
  margin-left: -2em;
  flex: 1; /* Take up 50% of the available space */
}

/* Style for the filters and artist details container */
.filters-details-container {
  margin-top: -1em;
  margin-left: -1em;
  flex: 1; /* Take up 50% of the available space */
}

/* Style for the filters */
#location-filtre,
#genre-filtre,
#reinitialiser-filtres-bouton {
  margin-right: 20px; /* Space between filter elements */
}


/* Style for the column on the right (list of artists and details) */
.colonne-gauche {
  float: left;
  width: 100%; /* 100% width in the right column */
}

/* Style for the table */
table {
  width: 100%;
  margin: 20px 0; /* Spacing at the top and bottom of tables */
}

/* Style for the "Effacer la liste" button */
table button, .colonne-gauche button {
  display: block;
  margin-top: 10px; /* Spacing for the button relative to the elements above it */
}

/* Add any other existing CSS styles below */
#bouton-reset {
  font-size: inherit;
  cursor: pointer;
  padding: 18px 150px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  border-radius: 50px;
  color: #fff;
  overflow: hidden;
  background: #25221e;
}

#bouton-reset:after {
  width: 200px;
  height: 30px;
  background: rgba(255,255,255,0.3);
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  transition: all 0.5s ease !important;
}

#bouton-reset:hover:after {
  top: 50%;
  left: 500px;
}

#bouton-reset:hover {
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  transform: translateY(-3px);
  background: #35312c;
}

#bouton-reset:active {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.16);
  transform: translateY(-1px);
  background: #000;
}


select {
  /* styling */
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

.boutonSuppr {
  background-color: #333333;
  border-radius: 10px;
  border: 4px double black;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  width: 70px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.boutonSuppr:hover {
  background-color: #fafbfc;
  border: 2px solid black;
  box-shadow: 10px 5px 5px #333333;
  color: black;
  text-align: center;
  font-size: 16px;
}

#bouton-reset {
  font-size: inherit;
  cursor: pointer;
  padding: 18px 80px;
  display: inline-block;
  margin: 15px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  border-radius: 50px;
  color: #fff;
  overflow: hidden;
  background: #25221e;
}

#bouton-reset:after {
  width: 200px;
  height: 30px;
  background: rgba(255,255,255,0.3);
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  transition: all 0.5s ease !important;
}

#bouton-reset:hover:after {
  top: 50%;
  left: 500px;
}

#bouton-reset:hover {
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  transform: translateY(-3px);
  background: #35312c;
}

#bouton-reset:active {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.16);
  transform: translateY(-1px);
  background: #000;
}
.btn-style2 {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 8px 45px;
  display: inline-block;
  margin: 15px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
  position: relative;
  transition: all 0.2s;
  border-radius: 50px;
  border: 3px solid #000;
  color: #000;
  overflow: hidden;
}

.btn-style2:before {
  left: 130%;
  top: -4px;
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  transition: all 0.2s;
  font-family: FontAwesome;
  content: "\f178";
}

.btn-style2:hover {
  border-color: #000;
  color: #000;
  background: #fff;
}

.btn-style2:active {
  transition: all 0s;
  background: #000;
  color: #fff;
}

.btn-style2:hover:before {
  left: 85%;
}

.btn-style1 {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 15px 70px;
  display: inline-block;
  margin: 15px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: none;
  background: #ffb001;
  color: #fff;
  box-shadow: 0 6px #df9c0a;
  border-radius: 100px;
}

.btn-style1:hover {
  box-shadow: 0 4px #c68b08;
  top: 2px;
}

.btn-style1:active {
  background: #f0a809;
  box-shadow: 0 0 #df9c0a;
  top: 6px;
}
