/* Style pour les filtres */
#location-filtre,
#genre-filtre,
#reinitialiser-filtres-bouton {
  margin-right: 20px; /* Espace entre les éléments de filtre */
}

/* Style pour la colonne gauche (liste d'artistes) */
.colonne-gauche {
  float: left;
  width: 50%; /* 50% de la largeur de l'écran */
}

/* Style pour la colonne droite (détails d'artiste) */
.colonne-droite {
  float: left;
  width: 50%; /* 50% de la largeur de l'écran */
}

/* Style pour les tableaux */
table {
  width: 100%;
  margin: 20px 0 20px 50px;
}

h2 {
    margin-left: 50px;
}

.filters{
    margin-left: 50px;
}

/* Style pour le bouton "Effacer la liste" */
table button {
  display: block;
  margin-top: 10px; /* Espacement du bouton par rapport aux éléments précédents */
}

/* Style pour le bouton "Fermer les détails" */
.colonne-droite button {
  display: block;
  margin-top: 10px; /* Espacement du bouton par rapport aux éléments précédents */
}

.bouton{
  background-color: #0071bc;
  border-radius: 10px;
  border: 4px double #0071bc;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 180px;
  margin-top: -2em;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.bouton:hover{
  background-color: #0071bc;
  border: 2px solid #0071bc;
  box-shadow: 10px 5px 5px #ffa400;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}


select {
  /* styling */
  background-color: white;
  border: thin solid #0071bc;
  border-radius: 10px;
  border-width: 3px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, #0071bc 50%),
    linear-gradient(135deg, #0071bc 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, #0071bc 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #0071bc 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #0071bc;
  outline: 0;
}

.boutonSuppr{
  background-color: #686666;
  border-radius: 10px;
  border: 4px double #686666;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  width: 70px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.boutonSuppr:hover{
  background-color: #686666;
  border: 2px solid #686666;
  box-shadow: 10px 5px 5px #333333;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

.boutonDetails{
  background-color: #0071bc;
  border-radius: 10px;
  border: 4px double #0071bc;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  width: 70px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.boutonDetails:hover{
  background-color: #0071bc;
  border: 2px solid #0071bc;
  box-shadow: 10px 5px 5px #ffa400;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}
